<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.layerName</key>
    <string>foreground</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4733689680</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>question</string>
      <string>exclam</string>
      <string>questiondown</string>
      <string>exclamdown</string>
      <string>ellipsis</string>
      <string>twodotleader</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>underscore</string>
      <string>ampersand</string>
      <string>at</string>
      <string>published</string>
      <string>copyright</string>
      <string>registered</string>
      <string>servicemark</string>
      <string>trademark</string>
      <string>asterisk</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>section</string>
      <string>paragraph</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon.fig</string>
      <string>plus</string>
      <string>divide</string>
      <string>minus</string>
      <string>equal</string>
      <string>notequal</string>
      <string>asciitilde</string>
      <string>approxequal</string>
      <string>multiply</string>
      <string>less</string>
      <string>greater</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>plusminus</string>
      <string>asciicircum</string>
      <string>mu</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>degree</string>
      <string>dollar</string>
      <string>sterling</string>
      <string>yen</string>
      <string>Euro</string>
      <string>naira</string>
      <string>peso</string>
      <string>uni20BA</string>
      <string>uni20BD</string>
      <string>uni20B9</string>
      <string>bahtthai</string>
      <string>won</string>
      <string>cent</string>
      <string>dong</string>
      <string>onehalf</string>
      <string>onethird</string>
      <string>twothirds</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>onefifth</string>
      <string>twofifths</string>
      <string>threefifths</string>
      <string>fourfifths</string>
      <string>onesixth</string>
      <string>fivesixths</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>zero.sup</string>
      <string>one.sup</string>
      <string>two.sup</string>
      <string>three.sup</string>
      <string>four.sup</string>
      <string>five.sup</string>
      <string>six.sup</string>
      <string>seven.sup</string>
      <string>eight.sup</string>
      <string>nine.sup</string>
      <string>zero.inf</string>
      <string>one.inf</string>
      <string>two.inf</string>
      <string>three.inf</string>
      <string>four.inf</string>
      <string>five.inf</string>
      <string>six.inf</string>
      <string>seven.inf</string>
      <string>eight.inf</string>
      <string>nine.inf</string>
      <string>primemod</string>
      <string>dblprimemod</string>
      <string>commaturnedmod</string>
      <string>apostrophemod</string>
      <string>ringhalfleft</string>
      <string>ringhalfright</string>
      <string>verticallinemod</string>
      <string>verticallinelowmod</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>grave</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>tilde</string>
      <string>macron</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>uniA788</string>
      <string>macronlowmod</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>Aacute</string>
      <string>Agrave</string>
      <string>Acircumflex</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Acaron</string>
      <string>Abreve</string>
      <string>Abrevedotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Atilde</string>
      <string>Amacron</string>
      <string>Adieresis</string>
      <string>Adotaccent</string>
      <string>Aring</string>
      <string>Ahookabove</string>
      <string>Adotbelow</string>
      <string>Aogonek</string>
      <string>AE</string>
      <string>Blinebelow</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>Ccedilla</string>
      <string>Dcaron</string>
      <string>Dcircumflexbelow</string>
      <string>Dlinebelow</string>
      <string>Ddotbelow</string>
      <string>Dcroat</string>
      <string>Eacute</string>
      <string>Egrave</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Ecaron</string>
      <string>Ebreve</string>
      <string>Etilde</string>
      <string>Emacron</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Ehookabove</string>
      <string>Edotbelow</string>
      <string>Eogonek</string>
      <string>Gcircumflex</string>
      <string>Gcaron</string>
      <string>Gbreve</string>
      <string>Gmacron</string>
      <string>Gdotaccent</string>
      <string>Gcommaaccent</string>
      <string>Hcircumflex</string>
      <string>Hbrevebelow</string>
      <string>Hdotbelow</string>
      <string>Hcedilla</string>
      <string>Hbar</string>
      <string>Iacute</string>
      <string>Igrave</string>
      <string>Icircumflex</string>
      <string>Icaron</string>
      <string>Ibreve</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Ihookabove</string>
      <string>Idotbelow</string>
      <string>Iogonek</string>
      <string>Jcircumflex</string>
      <string>Klinebelow</string>
      <string>Kcommaaccent</string>
      <string>Kdotbelow</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lcircumflexbelow</string>
      <string>Llinebelow</string>
      <string>Lmacrondotbelow</string>
      <string>Ldotbelow</string>
      <string>L.dot</string>
      <string>Lslash</string>
      <string>Macute</string>
      <string>Mdotaccent</string>
      <string>Mdotbelow</string>
      <string>Nacute</string>
      <string>Ngrave</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>Ndotaccent</string>
      <string>Ncircumflexbelow</string>
      <string>Ncommaaccent</string>
      <string>Ndotbelow</string>
      <string>Nlinebelow</string>
      <string>Eng</string>
      <string>Oacute</string>
      <string>Ohungarumlaut</string>
      <string>Ograve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Ocaron</string>
      <string>Obreve</string>
      <string>Otilde</string>
      <string>Omacron</string>
      <string>Odieresis</string>
      <string>Odotaccent</string>
      <string>Ohookabove</string>
      <string>Odotbelow</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>OE</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorngrave</string>
      <string>Ohorntilde</string>
      <string>Ohornhookabove</string>
      <string>Ohorndotbelow</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rdotaccent</string>
      <string>Rmacrondotbelow</string>
      <string>Rcommaaccent</string>
      <string>Rdotbelow</string>
      <string>Rlinebelow</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scaron</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Scedilla</string>
      <string>uni1E9E</string>
      <string>Tcaron</string>
      <string>Tcircumflexbelow</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
      <string>Tcedilla</string>
      <string>Tbar</string>
      <string>Uacute</string>
      <string>Uhungarumlaut</string>
      <string>Ugrave</string>
      <string>Ucircumflex</string>
      <string>Ucaron</string>
      <string>Ubreve</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Udieresis</string>
      <string>Udieresisacute</string>
      <string>Udieresisgrave</string>
      <string>Udieresiscaron</string>
      <string>Udieresismacron</string>
      <string>Uring</string>
      <string>Uhookabove</string>
      <string>Udotbelow</string>
      <string>Uogonek</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorngrave</string>
      <string>Uhorntilde</string>
      <string>Uhornhookabove</string>
      <string>Uhorndotbelow</string>
      <string>Vdotbelow</string>
      <string>Wacute</string>
      <string>Wgrave</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Xdieresis</string>
      <string>Yacute</string>
      <string>Ygrave</string>
      <string>Ycircumflex</string>
      <string>Ytilde</string>
      <string>Ymacron</string>
      <string>Ydieresis</string>
      <string>Ydotaccent</string>
      <string>Yhookabove</string>
      <string>Ydotbelow</string>
      <string>Zacute</string>
      <string>Zcircumflex</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>Zlinebelow</string>
      <string>Eth</string>
      <string>Thorn</string>
      <string>Schwa</string>
      <string>aacute</string>
      <string>agrave</string>
      <string>acircumflex</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acaron</string>
      <string>abreve</string>
      <string>abrevedotbelow</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>atilde</string>
      <string>amacron</string>
      <string>adieresis</string>
      <string>adotaccent</string>
      <string>aring</string>
      <string>ahookabove</string>
      <string>adotbelow</string>
      <string>aogonek</string>
      <string>ae</string>
      <string>blinebelow</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>ccedilla</string>
      <string>dcaron</string>
      <string>dcircumflexbelow</string>
      <string>dlinebelow</string>
      <string>ddotbelow</string>
      <string>dcroat</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecaron</string>
      <string>ebreve</string>
      <string>etilde</string>
      <string>emacron</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>ehookabove</string>
      <string>edotbelow</string>
      <string>eogonek</string>
      <string>gcircumflex</string>
      <string>gcaron</string>
      <string>gbreve</string>
      <string>gmacron</string>
      <string>gdotaccent</string>
      <string>gcommaaccent</string>
      <string>hcircumflex</string>
      <string>hbrevebelow</string>
      <string>hlinebelow</string>
      <string>hdotbelow</string>
      <string>hcedilla</string>
      <string>hbar</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>icircumflex</string>
      <string>icaron</string>
      <string>ibreve</string>
      <string>itilde</string>
      <string>imacron</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>ihookabove</string>
      <string>idotbelow</string>
      <string>iogonek</string>
      <string>dotlessj</string>
      <string>jcircumflex</string>
      <string>jcaron</string>
      <string>klinebelow</string>
      <string>kcommaaccent</string>
      <string>kdotbelow</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lcircumflexbelow</string>
      <string>llinebelow</string>
      <string>lmacrondotbelow</string>
      <string>ldotbelow</string>
      <string>l.dot</string>
      <string>lslash</string>
      <string>macute</string>
      <string>mdotaccent</string>
      <string>mdotbelow</string>
      <string>nacute</string>
      <string>ngrave</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>ndotaccent</string>
      <string>ncircumflexbelow</string>
      <string>ncommaaccent</string>
      <string>ndotbelow</string>
      <string>nlinebelow</string>
      <string>eng</string>
      <string>oacute</string>
      <string>ohungarumlaut</string>
      <string>ograve</string>
      <string>ocircumflex</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>ocaron</string>
      <string>obreve</string>
      <string>otilde</string>
      <string>omacron</string>
      <string>odieresis</string>
      <string>odotaccent</string>
      <string>ohookabove</string>
      <string>odotbelow</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oe</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorngrave</string>
      <string>ohorntilde</string>
      <string>ohornhookabove</string>
      <string>ohorndotbelow</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rdotaccent</string>
      <string>rmacrondotbelow</string>
      <string>rcommaaccent</string>
      <string>rdotbelow</string>
      <string>rlinebelow</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scaron</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>scedilla</string>
      <string>germandbls</string>
      <string>tcaron</string>
      <string>tcircumflexbelow</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
      <string>tcedilla</string>
      <string>tbar</string>
      <string>uacute</string>
      <string>uhungarumlaut</string>
      <string>ugrave</string>
      <string>ucircumflex</string>
      <string>ucaron</string>
      <string>ubreve</string>
      <string>utilde</string>
      <string>umacron</string>
      <string>udieresis</string>
      <string>udieresisacute</string>
      <string>udieresisgrave</string>
      <string>udieresiscaron</string>
      <string>udieresismacron</string>
      <string>uring</string>
      <string>uhookabove</string>
      <string>udotbelow</string>
      <string>uogonek</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorngrave</string>
      <string>uhorntilde</string>
      <string>uhornhookabove</string>
      <string>uhorndotbelow</string>
      <string>vdotbelow</string>
      <string>wacute</string>
      <string>wgrave</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>xdieresis</string>
      <string>yacute</string>
      <string>ygrave</string>
      <string>ycircumflex</string>
      <string>ytilde</string>
      <string>ymacron</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>yhookabove</string>
      <string>ydotbelow</string>
      <string>zacute</string>
      <string>zcircumflex</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>zlinebelow</string>
      <string>eth</string>
      <string>thorn</string>
      <string>schwa</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>zero.num</string>
      <string>one.num</string>
      <string>two.num</string>
      <string>three.num</string>
      <string>four.num</string>
      <string>five.num</string>
      <string>six.num</string>
      <string>seven.num</string>
      <string>eight.num</string>
      <string>nine.num</string>
      <string>fraction</string>
      <string>fracbar</string>
      <string>zero.den</string>
      <string>one.den</string>
      <string>two.den</string>
      <string>three.den</string>
      <string>four.den</string>
      <string>five.den</string>
      <string>six.den</string>
      <string>seven.den</string>
      <string>eight.den</string>
      <string>nine.den</string>
      <string>uni2011</string>
      <string>horizontalbar</string>
      <string>middotcat</string>
      <string>middotcat.cap</string>
      <string>acutecmb</string>
      <string>hungarumlautcmb</string>
      <string>gravecmb</string>
      <string>commaaboverightcmb</string>
      <string>circumflexcmb</string>
      <string>caroncmb</string>
      <string>brevecmb</string>
      <string>tildecmb</string>
      <string>macroncmb</string>
      <string>dieresiscmb</string>
      <string>dotaccentcmb</string>
      <string>ringcmb</string>
      <string>commaturnedabovecmb</string>
      <string>hookcmb</string>
      <string>circumflexbelowcmb</string>
      <string>brevebelowcmb</string>
      <string>macronbelowcmb</string>
      <string>dieresisbelowcmb</string>
      <string>dotbelowcmb</string>
      <string>uni0326</string>
      <string>cedillacmb</string>
      <string>ogonekcmb</string>
      <string>dieresisacute</string>
      <string>dieresisgrave</string>
      <string>dieresiscaron</string>
      <string>dieresismacron</string>
      <string>breveacute</string>
      <string>brevegrave</string>
      <string>brevehook</string>
      <string>brevetilde</string>
      <string>circumflexacute</string>
      <string>circumflexgrave</string>
      <string>circumflexhook</string>
      <string>circumflextilde</string>
      <string>acutecmb.cap</string>
      <string>hungarumlautcmb.cap</string>
      <string>gravecmb.cap</string>
      <string>circumflexcmb.cap</string>
      <string>caroncmb.cap</string>
      <string>brevecmb.cap</string>
      <string>tildecmb.cap</string>
      <string>macroncmb.cap</string>
      <string>dieresiscmb.cap</string>
      <string>dotaccentcmb.cap</string>
      <string>ringcmb.cap</string>
      <string>hookcmb.cap</string>
      <string>dieresisacute.cap</string>
      <string>dieresisgrave.cap</string>
      <string>dieresiscaron.cap</string>
      <string>dieresismacron.cap</string>
      <string>breveacute.cap</string>
      <string>brevegrave.cap</string>
      <string>brevehook.cap</string>
      <string>brevetilde.cap</string>
      <string>circumflexacute.cap</string>
      <string>circumflexgrave.cap</string>
      <string>circumflexhook.cap</string>
      <string>circumflextilde.cap</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Abreveacute</key>
      <string>uni1EAE</string>
      <key>Abrevedotbelow</key>
      <string>uni1EB6</string>
      <key>Abrevegrave</key>
      <string>uni1EB0</string>
      <key>Abrevehookabove</key>
      <string>uni1EB2</string>
      <key>Abrevetilde</key>
      <string>uni1EB4</string>
      <key>Acaron</key>
      <string>uni01CD</string>
      <key>Acircumflexacute</key>
      <string>uni1EA4</string>
      <key>Acircumflexdotbelow</key>
      <string>uni1EAC</string>
      <key>Acircumflexgrave</key>
      <string>uni1EA6</string>
      <key>Acircumflexhookabove</key>
      <string>uni1EA8</string>
      <key>Acircumflextilde</key>
      <string>uni1EAA</string>
      <key>Adotaccent</key>
      <string>uni0226</string>
      <key>Adotbelow</key>
      <string>uni1EA0</string>
      <key>Ahookabove</key>
      <string>uni1EA2</string>
      <key>Blinebelow</key>
      <string>uni1E06</string>
      <key>Dcircumflexbelow</key>
      <string>uni1E12</string>
      <key>Ddotbelow</key>
      <string>uni1E0C</string>
      <key>Dlinebelow</key>
      <string>uni1E0E</string>
      <key>Ecircumflexacute</key>
      <string>uni1EBE</string>
      <key>Ecircumflexdotbelow</key>
      <string>uni1EC6</string>
      <key>Ecircumflexgrave</key>
      <string>uni1EC0</string>
      <key>Ecircumflexhookabove</key>
      <string>uni1EC2</string>
      <key>Ecircumflextilde</key>
      <string>uni1EC4</string>
      <key>Edotbelow</key>
      <string>uni1EB8</string>
      <key>Ehookabove</key>
      <string>uni1EBA</string>
      <key>Etilde</key>
      <string>uni1EBC</string>
      <key>Gcommaaccent</key>
      <string>uni0122</string>
      <key>Gmacron</key>
      <string>uni1E20</string>
      <key>Hbrevebelow</key>
      <string>uni1E2A</string>
      <key>Hcedilla</key>
      <string>uni1E28</string>
      <key>Hdotbelow</key>
      <string>uni1E24</string>
      <key>Icaron</key>
      <string>uni01CF</string>
      <key>Idotbelow</key>
      <string>uni1ECA</string>
      <key>Ihookabove</key>
      <string>uni1EC8</string>
      <key>Kcommaaccent</key>
      <string>uni0136</string>
      <key>Kdotbelow</key>
      <string>uni1E32</string>
      <key>Klinebelow</key>
      <string>uni1E34</string>
      <key>L.dot</key>
      <string>Ldot</string>
      <key>Lcircumflexbelow</key>
      <string>uni1E3C</string>
      <key>Lcommaaccent</key>
      <string>uni013B</string>
      <key>Ldotbelow</key>
      <string>uni1E36</string>
      <key>Llinebelow</key>
      <string>uni1E3A</string>
      <key>Lmacrondotbelow</key>
      <string>uni1E38</string>
      <key>Macute</key>
      <string>uni1E3E</string>
      <key>Mdotaccent</key>
      <string>uni1E40</string>
      <key>Mdotbelow</key>
      <string>uni1E42</string>
      <key>Ncircumflexbelow</key>
      <string>uni1E4A</string>
      <key>Ncommaaccent</key>
      <string>uni0145</string>
      <key>Ndotaccent</key>
      <string>uni1E44</string>
      <key>Ndotbelow</key>
      <string>uni1E46</string>
      <key>Ngrave</key>
      <string>uni01F8</string>
      <key>Nlinebelow</key>
      <string>uni1E48</string>
      <key>Ocaron</key>
      <string>uni01D1</string>
      <key>Ocircumflexacute</key>
      <string>uni1ED0</string>
      <key>Ocircumflexdotbelow</key>
      <string>uni1ED8</string>
      <key>Ocircumflexgrave</key>
      <string>uni1ED2</string>
      <key>Ocircumflexhookabove</key>
      <string>uni1ED4</string>
      <key>Ocircumflextilde</key>
      <string>uni1ED6</string>
      <key>Odotaccent</key>
      <string>uni022E</string>
      <key>Odotbelow</key>
      <string>uni1ECC</string>
      <key>Ohookabove</key>
      <string>uni1ECE</string>
      <key>Ohornacute</key>
      <string>uni1EDA</string>
      <key>Ohorndotbelow</key>
      <string>uni1EE2</string>
      <key>Ohorngrave</key>
      <string>uni1EDC</string>
      <key>Ohornhookabove</key>
      <string>uni1EDE</string>
      <key>Ohorntilde</key>
      <string>uni1EE0</string>
      <key>Oogonek</key>
      <string>uni01EA</string>
      <key>Rcommaaccent</key>
      <string>uni0156</string>
      <key>Rdotaccent</key>
      <string>uni1E58</string>
      <key>Rdotbelow</key>
      <string>uni1E5A</string>
      <key>Rlinebelow</key>
      <string>uni1E5E</string>
      <key>Rmacrondotbelow</key>
      <string>uni1E5C</string>
      <key>Scedilla</key>
      <string>uni015E</string>
      <key>Schwa</key>
      <string>uni018F</string>
      <key>Scommaaccent</key>
      <string>uni0218</string>
      <key>Sdotbelow</key>
      <string>uni1E62</string>
      <key>Tcedilla</key>
      <string>uni0162</string>
      <key>Tcircumflexbelow</key>
      <string>uni1E70</string>
      <key>Tcommaaccent</key>
      <string>uni021A</string>
      <key>Tdotbelow</key>
      <string>uni1E6C</string>
      <key>Tlinebelow</key>
      <string>uni1E6E</string>
      <key>Ucaron</key>
      <string>uni01D3</string>
      <key>Udieresisacute</key>
      <string>uni01D7</string>
      <key>Udieresiscaron</key>
      <string>uni01D9</string>
      <key>Udieresisgrave</key>
      <string>uni01DB</string>
      <key>Udieresismacron</key>
      <string>uni01D5</string>
      <key>Udotbelow</key>
      <string>uni1EE4</string>
      <key>Uhookabove</key>
      <string>uni1EE6</string>
      <key>Uhornacute</key>
      <string>uni1EE8</string>
      <key>Uhorndotbelow</key>
      <string>uni1EF0</string>
      <key>Uhorngrave</key>
      <string>uni1EEA</string>
      <key>Uhornhookabove</key>
      <string>uni1EEC</string>
      <key>Uhorntilde</key>
      <string>uni1EEE</string>
      <key>Vdotbelow</key>
      <string>uni1E7E</string>
      <key>Xdieresis</key>
      <string>uni1E8C</string>
      <key>Ydotaccent</key>
      <string>uni1E8E</string>
      <key>Ydotbelow</key>
      <string>uni1EF4</string>
      <key>Yhookabove</key>
      <string>uni1EF6</string>
      <key>Ymacron</key>
      <string>uni0232</string>
      <key>Ytilde</key>
      <string>uni1EF8</string>
      <key>Zcircumflex</key>
      <string>uni1E90</string>
      <key>Zdotbelow</key>
      <string>uni1E92</string>
      <key>Zlinebelow</key>
      <string>uni1E94</string>
      <key>abreveacute</key>
      <string>uni1EAF</string>
      <key>abrevedotbelow</key>
      <string>uni1EB7</string>
      <key>abrevegrave</key>
      <string>uni1EB1</string>
      <key>abrevehookabove</key>
      <string>uni1EB3</string>
      <key>abrevetilde</key>
      <string>uni1EB5</string>
      <key>acaron</key>
      <string>uni01CE</string>
      <key>acircumflexacute</key>
      <string>uni1EA5</string>
      <key>acircumflexdotbelow</key>
      <string>uni1EAD</string>
      <key>acircumflexgrave</key>
      <string>uni1EA7</string>
      <key>acircumflexhookabove</key>
      <string>uni1EA9</string>
      <key>acircumflextilde</key>
      <string>uni1EAB</string>
      <key>acutecmb</key>
      <string>uni0301</string>
      <key>acutecmb.cap</key>
      <string>uni0301.cap</string>
      <key>adotaccent</key>
      <string>uni0227</string>
      <key>adotbelow</key>
      <string>uni1EA1</string>
      <key>ahookabove</key>
      <string>uni1EA3</string>
      <key>apostrophemod</key>
      <string>uni02BC</string>
      <key>bahtthai</key>
      <string>uni0E3F</string>
      <key>blinebelow</key>
      <string>uni1E07</string>
      <key>breveacute</key>
      <string>uni02D80301</string>
      <key>breveacute.cap</key>
      <string>uni02D80301.cap</string>
      <key>brevebelowcmb</key>
      <string>uni032E</string>
      <key>brevecmb</key>
      <string>uni0306</string>
      <key>brevecmb.cap</key>
      <string>uni0306.cap</string>
      <key>brevegrave</key>
      <string>uni02D80300</string>
      <key>brevegrave.cap</key>
      <string>uni02D80300.cap</string>
      <key>brevehook</key>
      <string>uni02D80309</string>
      <key>brevehook.cap</key>
      <string>uni02D80309.cap</string>
      <key>brevetilde</key>
      <string>uni02D80303</string>
      <key>brevetilde.cap</key>
      <string>uni02D80303.cap</string>
      <key>caroncmb</key>
      <string>uni030C</string>
      <key>caroncmb.cap</key>
      <string>uni030C.cap</string>
      <key>cedillacmb</key>
      <string>uni0327</string>
      <key>circumflexacute</key>
      <string>uni02C60301</string>
      <key>circumflexacute.cap</key>
      <string>uni02C60301.cap</string>
      <key>circumflexbelowcmb</key>
      <string>uni032D</string>
      <key>circumflexcmb</key>
      <string>uni0302</string>
      <key>circumflexcmb.cap</key>
      <string>uni0302.cap</string>
      <key>circumflexgrave</key>
      <string>uni02C60300</string>
      <key>circumflexgrave.cap</key>
      <string>uni02C60300.cap</string>
      <key>circumflexhook</key>
      <string>uni02C60309</string>
      <key>circumflexhook.cap</key>
      <string>uni02C60309.cap</string>
      <key>circumflextilde</key>
      <string>uni02C60303</string>
      <key>circumflextilde.cap</key>
      <string>uni02C60303.cap</string>
      <key>commaaboverightcmb</key>
      <string>uni0315</string>
      <key>commaturnedabovecmb</key>
      <string>uni0312</string>
      <key>commaturnedmod</key>
      <string>uni02BB</string>
      <key>dblprimemod</key>
      <string>uni02BA</string>
      <key>dcircumflexbelow</key>
      <string>uni1E13</string>
      <key>ddotbelow</key>
      <string>uni1E0D</string>
      <key>dieresisacute</key>
      <string>uni00A80301</string>
      <key>dieresisacute.cap</key>
      <string>uni00A80301.cap</string>
      <key>dieresisbelowcmb</key>
      <string>uni0324</string>
      <key>dieresiscaron</key>
      <string>uni00A8030C</string>
      <key>dieresiscaron.cap</key>
      <string>uni00A8030C.cap</string>
      <key>dieresiscmb</key>
      <string>uni0308</string>
      <key>dieresiscmb.cap</key>
      <string>uni0308.cap</string>
      <key>dieresisgrave</key>
      <string>uni00A80300</string>
      <key>dieresisgrave.cap</key>
      <string>uni00A80300.cap</string>
      <key>dieresismacron</key>
      <string>uni00A80304</string>
      <key>dieresismacron.cap</key>
      <string>uni00A80304.cap</string>
      <key>dlinebelow</key>
      <string>uni1E0F</string>
      <key>dotaccentcmb</key>
      <string>uni0307</string>
      <key>dotaccentcmb.cap</key>
      <string>uni0307.cap</string>
      <key>dotbelowcmb</key>
      <string>uni0323</string>
      <key>dotlessj</key>
      <string>uni0237</string>
      <key>ecircumflexacute</key>
      <string>uni1EBF</string>
      <key>ecircumflexdotbelow</key>
      <string>uni1EC7</string>
      <key>ecircumflexgrave</key>
      <string>uni1EC1</string>
      <key>ecircumflexhookabove</key>
      <string>uni1EC3</string>
      <key>ecircumflextilde</key>
      <string>uni1EC5</string>
      <key>edotbelow</key>
      <string>uni1EB9</string>
      <key>ehookabove</key>
      <string>uni1EBB</string>
      <key>etilde</key>
      <string>uni1EBD</string>
      <key>gcommaaccent</key>
      <string>uni0123</string>
      <key>gmacron</key>
      <string>uni1E21</string>
      <key>gravecmb</key>
      <string>uni0300</string>
      <key>gravecmb.cap</key>
      <string>uni0300.cap</string>
      <key>guillemetleft</key>
      <string>uni00AB</string>
      <key>guillemetright</key>
      <string>uni00BB</string>
      <key>hbrevebelow</key>
      <string>uni1E2B</string>
      <key>hcedilla</key>
      <string>uni1E29</string>
      <key>hdotbelow</key>
      <string>uni1E25</string>
      <key>hlinebelow</key>
      <string>uni1E96</string>
      <key>hookcmb</key>
      <string>uni0309</string>
      <key>hookcmb.cap</key>
      <string>uni0309.cap</string>
      <key>horizontalbar</key>
      <string>uni2015</string>
      <key>hungarumlautcmb</key>
      <string>uni030B</string>
      <key>hungarumlautcmb.cap</key>
      <string>uni030B.cap</string>
      <key>icaron</key>
      <string>uni01D0</string>
      <key>idotaccent</key>
      <string>i.dot</string>
      <key>idotbelow</key>
      <string>uni1ECB</string>
      <key>ihookabove</key>
      <string>uni1EC9</string>
      <key>jcaron</key>
      <string>uni01F0</string>
      <key>kcommaaccent</key>
      <string>uni0137</string>
      <key>kdotbelow</key>
      <string>uni1E33</string>
      <key>klinebelow</key>
      <string>uni1E35</string>
      <key>l.dot</key>
      <string>ldot</string>
      <key>lcircumflexbelow</key>
      <string>uni1E3D</string>
      <key>lcommaaccent</key>
      <string>uni013C</string>
      <key>ldotbelow</key>
      <string>uni1E37</string>
      <key>llinebelow</key>
      <string>uni1E3B</string>
      <key>lmacrondotbelow</key>
      <string>uni1E39</string>
      <key>macronbelowcmb</key>
      <string>uni0331</string>
      <key>macroncmb</key>
      <string>uni0304</string>
      <key>macroncmb.cap</key>
      <string>uni0304.cap</string>
      <key>macronlowmod</key>
      <string>uni02CD</string>
      <key>macute</key>
      <string>uni1E3F</string>
      <key>mdotaccent</key>
      <string>uni1E41</string>
      <key>mdotbelow</key>
      <string>uni1E43</string>
      <key>naira</key>
      <string>uni20A6</string>
      <key>ncircumflexbelow</key>
      <string>uni1E4B</string>
      <key>ncommaaccent</key>
      <string>uni0146</string>
      <key>ndotaccent</key>
      <string>uni1E45</string>
      <key>ndotbelow</key>
      <string>uni1E47</string>
      <key>ngrave</key>
      <string>uni01F9</string>
      <key>nlinebelow</key>
      <string>uni1E49</string>
      <key>ocaron</key>
      <string>uni01D2</string>
      <key>ocircumflexacute</key>
      <string>uni1ED1</string>
      <key>ocircumflexdotbelow</key>
      <string>uni1ED9</string>
      <key>ocircumflexgrave</key>
      <string>uni1ED3</string>
      <key>ocircumflexhookabove</key>
      <string>uni1ED5</string>
      <key>ocircumflextilde</key>
      <string>uni1ED7</string>
      <key>odotaccent</key>
      <string>uni022F</string>
      <key>odotbelow</key>
      <string>uni1ECD</string>
      <key>ogonekcmb</key>
      <string>uni0328</string>
      <key>ohookabove</key>
      <string>uni1ECF</string>
      <key>ohornacute</key>
      <string>uni1EDB</string>
      <key>ohorndotbelow</key>
      <string>uni1EE3</string>
      <key>ohorngrave</key>
      <string>uni1EDD</string>
      <key>ohornhookabove</key>
      <string>uni1EDF</string>
      <key>ohorntilde</key>
      <string>uni1EE1</string>
      <key>oogonek</key>
      <string>uni01EB</string>
      <key>peso</key>
      <string>uni20B1</string>
      <key>primemod</key>
      <string>uni02B9</string>
      <key>published</key>
      <string>uni2117</string>
      <key>rcommaaccent</key>
      <string>uni0157</string>
      <key>rdotaccent</key>
      <string>uni1E59</string>
      <key>rdotbelow</key>
      <string>uni1E5B</string>
      <key>ringcmb</key>
      <string>uni030A</string>
      <key>ringcmb.cap</key>
      <string>uni030A.cap</string>
      <key>ringhalfleft</key>
      <string>uni02BF</string>
      <key>ringhalfright</key>
      <string>uni02BE</string>
      <key>rlinebelow</key>
      <string>uni1E5F</string>
      <key>rmacrondotbelow</key>
      <string>uni1E5D</string>
      <key>scedilla</key>
      <string>uni015F</string>
      <key>schwa</key>
      <string>uni0259</string>
      <key>scommaaccent</key>
      <string>uni0219</string>
      <key>sdotbelow</key>
      <string>uni1E63</string>
      <key>servicemark</key>
      <string>uni2120</string>
      <key>tcedilla</key>
      <string>uni0163</string>
      <key>tcircumflexbelow</key>
      <string>uni1E71</string>
      <key>tcommaaccent</key>
      <string>uni021B</string>
      <key>tdotbelow</key>
      <string>uni1E6D</string>
      <key>tildecmb</key>
      <string>uni0303</string>
      <key>tildecmb.cap</key>
      <string>uni0303.cap</string>
      <key>tlinebelow</key>
      <string>uni1E6F</string>
      <key>twodotleader</key>
      <string>uni2025</string>
      <key>ucaron</key>
      <string>uni01D4</string>
      <key>udieresisacute</key>
      <string>uni01D8</string>
      <key>udieresiscaron</key>
      <string>uni01DA</string>
      <key>udieresisgrave</key>
      <string>uni01DC</string>
      <key>udieresismacron</key>
      <string>uni01D6</string>
      <key>udotbelow</key>
      <string>uni1EE5</string>
      <key>uhookabove</key>
      <string>uni1EE7</string>
      <key>uhornacute</key>
      <string>uni1EE9</string>
      <key>uhorndotbelow</key>
      <string>uni1EF1</string>
      <key>uhorngrave</key>
      <string>uni1EEB</string>
      <key>uhornhookabove</key>
      <string>uni1EED</string>
      <key>uhorntilde</key>
      <string>uni1EEF</string>
      <key>uni1E9E</key>
      <string>uni1E9E</string>
      <key>vdotbelow</key>
      <string>uni1E7F</string>
      <key>verticallinelowmod</key>
      <string>uni02CC</string>
      <key>verticallinemod</key>
      <string>uni02C8</string>
      <key>won</key>
      <string>uni20A9</string>
      <key>xdieresis</key>
      <string>uni1E8D</string>
      <key>ydotaccent</key>
      <string>uni1E8F</string>
      <key>ydotbelow</key>
      <string>uni1EF5</string>
      <key>yhookabove</key>
      <string>uni1EF7</string>
      <key>ymacron</key>
      <string>uni0233</string>
      <key>ytilde</key>
      <string>uni1EF9</string>
      <key>zcircumflex</key>
      <string>uni1E91</string>
      <key>zdotbelow</key>
      <string>uni1E93</string>
      <key>zlinebelow</key>
      <string>uni1E95</string>
    </dict>
  </dict>
</plist>
