<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acaron</key>
    <string>A_caron.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adotaccent</key>
    <string>A_dotaccent.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Blinebelow</key>
    <string>B_linebelow.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcircumflexbelow</key>
    <string>D_circumflexbelow.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Ddotbelow</key>
    <string>D_dotbelow.glif</string>
    <key>Dlinebelow</key>
    <string>D_linebelow.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>Ecircumflexdotbelow</key>
    <string>E_circumflexdotbelow.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Ehookabove</key>
    <string>E_hookabove.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Gmacron</key>
    <string>G_macron.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hbrevebelow</key>
    <string>H_brevebelow.glif</string>
    <key>Hcedilla</key>
    <string>H_cedilla.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>Hdotbelow</key>
    <string>H_dotbelow.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Icaron</key>
    <string>I_caron.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Ihookabove</key>
    <string>I_hookabove.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>Kdotbelow</key>
    <string>K_dotbelow.glif</string>
    <key>Klinebelow</key>
    <string>K_linebelow.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.dot</key>
    <string>L_.dot.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcircumflexbelow</key>
    <string>L_circumflexbelow.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Ldotbelow</key>
    <string>L_dotbelow.glif</string>
    <key>Llinebelow</key>
    <string>L_linebelow.glif</string>
    <key>Lmacrondotbelow</key>
    <string>L_macrondotbelow.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>Macute</key>
    <string>M_acute.glif</string>
    <key>Mdotaccent</key>
    <string>M_dotaccent.glif</string>
    <key>Mdotbelow</key>
    <string>M_dotbelow.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncircumflexbelow</key>
    <string>N_circumflexbelow.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ndotaccent</key>
    <string>N_dotaccent.glif</string>
    <key>Ndotbelow</key>
    <string>N_dotbelow.glif</string>
    <key>Ngrave</key>
    <string>N_grave.glif</string>
    <key>Nlinebelow</key>
    <string>N_linebelow.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>Ocaron</key>
    <string>O_caron.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odotaccent</key>
    <string>O_dotaccent.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohookabove</key>
    <string>O_hookabove.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif</string>
    <key>Ohorndotbelow</key>
    <string>O_horndotbelow.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>Rdotaccent</key>
    <string>R_dotaccent.glif</string>
    <key>Rdotbelow</key>
    <string>R_dotbelow.glif</string>
    <key>Rlinebelow</key>
    <string>R_linebelow.glif</string>
    <key>Rmacrondotbelow</key>
    <string>R_macrondotbelow.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sdotbelow</key>
    <string>S_dotbelow.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcircumflexbelow</key>
    <string>T_circumflexbelow.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Tdotbelow</key>
    <string>T_dotbelow.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tlinebelow</key>
    <string>T_linebelow.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucaron</key>
    <string>U_caron.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresisacute</key>
    <string>U_dieresisacute.glif</string>
    <key>Udieresiscaron</key>
    <string>U_dieresiscaron.glif</string>
    <key>Udieresisgrave</key>
    <string>U_dieresisgrave.glif</string>
    <key>Udieresismacron</key>
    <string>U_dieresismacron.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhookabove</key>
    <string>U_hookabove.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Vdotbelow</key>
    <string>V_dotbelow.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Xdieresis</key>
    <string>X_dieresis.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ydotaccent</key>
    <string>Y_dotaccent.glif</string>
    <key>Ydotbelow</key>
    <string>Y_dotbelow.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Yhookabove</key>
    <string>Y_hookabove.glif</string>
    <key>Ymacron</key>
    <string>Y_macron.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zcircumflex</key>
    <string>Z_circumflex.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Zdotbelow</key>
    <string>Z_dotbelow.glif</string>
    <key>Zlinebelow</key>
    <string>Z_linebelow.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>acaron</key>
    <string>acaron.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecmb</key>
    <string>acutecmb.glif</string>
    <key>acutecmb.cap</key>
    <string>acutecmb.cap.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adotaccent</key>
    <string>adotaccent.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bahtthai</key>
    <string>bahtthai.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>blinebelow</key>
    <string>blinebelow.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breveacute</key>
    <string>breveacute.glif</string>
    <key>breveacute.cap</key>
    <string>breveacute.cap.glif</string>
    <key>brevebelowcmb</key>
    <string>brevebelowcmb.glif</string>
    <key>brevecmb</key>
    <string>brevecmb.glif</string>
    <key>brevecmb.cap</key>
    <string>brevecmb.cap.glif</string>
    <key>brevegrave</key>
    <string>brevegrave.glif</string>
    <key>brevegrave.cap</key>
    <string>brevegrave.cap.glif</string>
    <key>brevehook</key>
    <string>brevehook.glif</string>
    <key>brevehook.cap</key>
    <string>brevehook.cap.glif</string>
    <key>brevetilde</key>
    <string>brevetilde.glif</string>
    <key>brevetilde.cap</key>
    <string>brevetilde.cap.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncmb</key>
    <string>caroncmb.glif</string>
    <key>caroncmb.cap</key>
    <string>caroncmb.cap.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacmb</key>
    <string>cedillacmb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexacute</key>
    <string>circumflexacute.glif</string>
    <key>circumflexacute.cap</key>
    <string>circumflexacute.cap.glif</string>
    <key>circumflexbelowcmb</key>
    <string>circumflexbelowcmb.glif</string>
    <key>circumflexcmb</key>
    <string>circumflexcmb.glif</string>
    <key>circumflexcmb.cap</key>
    <string>circumflexcmb.cap.glif</string>
    <key>circumflexgrave</key>
    <string>circumflexgrave.glif</string>
    <key>circumflexgrave.cap</key>
    <string>circumflexgrave.cap.glif</string>
    <key>circumflexhook</key>
    <string>circumflexhook.glif</string>
    <key>circumflexhook.cap</key>
    <string>circumflexhook.cap.glif</string>
    <key>circumflextilde</key>
    <string>circumflextilde.glif</string>
    <key>circumflextilde.cap</key>
    <string>circumflextilde.cap.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.fig</key>
    <string>colon.fig.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaboverightcmb</key>
    <string>commaaboverightcmb.glif</string>
    <key>commaturnedabovecmb</key>
    <string>commaturnedabovecmb.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dblprimemod</key>
    <string>dblprimemod.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcircumflexbelow</key>
    <string>dcircumflexbelow.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>ddotbelow</key>
    <string>ddotbelow.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresisacute</key>
    <string>dieresisacute.glif</string>
    <key>dieresisacute.cap</key>
    <string>dieresisacute.cap.glif</string>
    <key>dieresisbelowcmb</key>
    <string>dieresisbelowcmb.glif</string>
    <key>dieresiscaron</key>
    <string>dieresiscaron.glif</string>
    <key>dieresiscaron.cap</key>
    <string>dieresiscaron.cap.glif</string>
    <key>dieresiscmb</key>
    <string>dieresiscmb.glif</string>
    <key>dieresiscmb.cap</key>
    <string>dieresiscmb.cap.glif</string>
    <key>dieresisgrave</key>
    <string>dieresisgrave.glif</string>
    <key>dieresisgrave.cap</key>
    <string>dieresisgrave.cap.glif</string>
    <key>dieresismacron</key>
    <string>dieresismacron.glif</string>
    <key>dieresismacron.cap</key>
    <string>dieresismacron.cap.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dlinebelow</key>
    <string>dlinebelow.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcmb</key>
    <string>dotaccentcmb.glif</string>
    <key>dotaccentcmb.cap</key>
    <string>dotaccentcmb.cap.glif</string>
    <key>dotbelowcmb</key>
    <string>dotbelowcmb.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.den</key>
    <string>eight.den.glif</string>
    <key>eight.inf</key>
    <string>eight.inf.glif</string>
    <key>eight.num</key>
    <string>eight.num.glif</string>
    <key>eight.sup</key>
    <string>eight.sup.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>five.inf</key>
    <string>five.inf.glif</string>
    <key>five.num</key>
    <string>five.num.glif</string>
    <key>five.sup</key>
    <string>five.sup.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>fivesixths</key>
    <string>fivesixths.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.den</key>
    <string>four.den.glif</string>
    <key>four.inf</key>
    <string>four.inf.glif</string>
    <key>four.num</key>
    <string>four.num.glif</string>
    <key>four.sup</key>
    <string>four.sup.glif</string>
    <key>fourfifths</key>
    <string>fourfifths.glif</string>
    <key>fracbar</key>
    <string>fracbar.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gmacron</key>
    <string>gmacron.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecmb</key>
    <string>gravecmb.glif</string>
    <key>gravecmb.cap</key>
    <string>gravecmb.cap.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hbrevebelow</key>
    <string>hbrevebelow.glif</string>
    <key>hcedilla</key>
    <string>hcedilla.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hdotbelow</key>
    <string>hdotbelow.glif</string>
    <key>hlinebelow</key>
    <string>hlinebelow.glif</string>
    <key>hookcmb</key>
    <string>hookcmb.glif</string>
    <key>hookcmb.cap</key>
    <string>hookcmb.cap.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcmb</key>
    <string>hungarumlautcmb.glif</string>
    <key>hungarumlautcmb.cap</key>
    <string>hungarumlautcmb.cap.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icaron</key>
    <string>icaron.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jcaron</key>
    <string>jcaron.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kdotbelow</key>
    <string>kdotbelow.glif</string>
    <key>klinebelow</key>
    <string>klinebelow.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.dot</key>
    <string>l.dot.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcircumflexbelow</key>
    <string>lcircumflexbelow.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldotbelow</key>
    <string>ldotbelow.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>llinebelow</key>
    <string>llinebelow.glif</string>
    <key>lmacrondotbelow</key>
    <string>lmacrondotbelow.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macronbelowcmb</key>
    <string>macronbelowcmb.glif</string>
    <key>macroncmb</key>
    <string>macroncmb.glif</string>
    <key>macroncmb.cap</key>
    <string>macroncmb.cap.glif</string>
    <key>macronlowmod</key>
    <string>macronlowmod.glif</string>
    <key>macute</key>
    <string>macute.glif</string>
    <key>mdotaccent</key>
    <string>mdotaccent.glif</string>
    <key>mdotbelow</key>
    <string>mdotbelow.glif</string>
    <key>middotcat</key>
    <string>middotcat.glif</string>
    <key>middotcat.cap</key>
    <string>middotcat.cap.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncircumflexbelow</key>
    <string>ncircumflexbelow.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>ndotaccent</key>
    <string>ndotaccent.glif</string>
    <key>ndotbelow</key>
    <string>ndotbelow.glif</string>
    <key>ngrave</key>
    <string>ngrave.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>nine.inf</key>
    <string>nine.inf.glif</string>
    <key>nine.num</key>
    <string>nine.num.glif</string>
    <key>nine.sup</key>
    <string>nine.sup.glif</string>
    <key>nlinebelow</key>
    <string>nlinebelow.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>ocaron</key>
    <string>ocaron.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odotaccent</key>
    <string>odotaccent.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcmb</key>
    <string>ogonekcmb.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>ohorndotbelow</key>
    <string>ohorndotbelow.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.den</key>
    <string>one.den.glif</string>
    <key>one.inf</key>
    <string>one.inf.glif</string>
    <key>one.num</key>
    <string>one.num.glif</string>
    <key>one.sup</key>
    <string>one.sup.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>onefifth</key>
    <string>onefifth.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesixth</key>
    <string>onesixth.glif</string>
    <key>onethird</key>
    <string>onethird.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>primemod</key>
    <string>primemod.glif</string>
    <key>published</key>
    <string>published.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>rdotaccent</key>
    <string>rdotaccent.glif</string>
    <key>rdotbelow</key>
    <string>rdotbelow.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcmb</key>
    <string>ringcmb.glif</string>
    <key>ringcmb.cap</key>
    <string>ringcmb.cap.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>rlinebelow</key>
    <string>rlinebelow.glif</string>
    <key>rmacrondotbelow</key>
    <string>rmacrondotbelow.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>sdotbelow</key>
    <string>sdotbelow.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.den</key>
    <string>seven.den.glif</string>
    <key>seven.inf</key>
    <string>seven.inf.glif</string>
    <key>seven.num</key>
    <string>seven.num.glif</string>
    <key>seven.sup</key>
    <string>seven.sup.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.den</key>
    <string>six.den.glif</string>
    <key>six.inf</key>
    <string>six.inf.glif</string>
    <key>six.num</key>
    <string>six.num.glif</string>
    <key>six.sup</key>
    <string>six.sup.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tcircumflexbelow</key>
    <string>tcircumflexbelow.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>tdotbelow</key>
    <string>tdotbelow.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>three.inf</key>
    <string>three.inf.glif</string>
    <key>three.num</key>
    <string>three.num.glif</string>
    <key>three.sup</key>
    <string>three.sup.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>threefifths</key>
    <string>threefifths.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecmb</key>
    <string>tildecmb.glif</string>
    <key>tildecmb.cap</key>
    <string>tildecmb.cap.glif</string>
    <key>tlinebelow</key>
    <string>tlinebelow.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.den</key>
    <string>two.den.glif</string>
    <key>two.inf</key>
    <string>two.inf.glif</string>
    <key>two.num</key>
    <string>two.num.glif</string>
    <key>two.sup</key>
    <string>two.sup.glif</string>
    <key>twodotleader</key>
    <string>twodotleader.glif</string>
    <key>twofifths</key>
    <string>twofifths.glif</string>
    <key>twothirds</key>
    <string>twothirds.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucaron</key>
    <string>ucaron.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udieresisacute</key>
    <string>udieresisacute.glif</string>
    <key>udieresiscaron</key>
    <string>udieresiscaron.glif</string>
    <key>udieresisgrave</key>
    <string>udieresisgrave.glif</string>
    <key>udieresismacron</key>
    <string>udieresismacron.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhookabove</key>
    <string>uhookabove.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uhorndotbelow</key>
    <string>uhorndotbelow.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>uni1E9E</key>
    <string>uni1E_9E_.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>uni20BD</key>
    <string>uni20B_D_.glif</string>
    <key>uniA788</key>
    <string>uniA_788.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>vdotbelow</key>
    <string>vdotbelow.glif</string>
    <key>verticallinelowmod</key>
    <string>verticallinelowmod.glif</string>
    <key>verticallinemod</key>
    <string>verticallinemod.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xdieresis</key>
    <string>xdieresis.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydotaccent</key>
    <string>ydotaccent.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>ymacron</key>
    <string>ymacron.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zcircumflex</key>
    <string>zcircumflex.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zdotbelow</key>
    <string>zdotbelow.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.den</key>
    <string>zero.den.glif</string>
    <key>zero.inf</key>
    <string>zero.inf.glif</string>
    <key>zero.num</key>
    <string>zero.num.glif</string>
    <key>zero.sup</key>
    <string>zero.sup.glif</string>
    <key>zlinebelow</key>
    <string>zlinebelow.glif</string>
  </dict>
</plist>
